<div class="the-board">
  <h1>Twinpics</h1>
  <div id="board">
    {{#each rows as row}}
      {{#each columns as column}}
        <Cell></Cell>
      {{/each}}
    {{/each}}
  </div>
</div>

<style>
  h1 {
    text-align: center;
  }

  #board {
    border: 1px solid rgb(10, 18, 29);
    display: block;
    margin: auto;
    padding: 1px;
    height: 617px;
    width: 600px;
  }
</style>

<script>
  import Cell from './Cell.html'

  export default {
    data() {
      return {
        rows: Array(10),
        columns: Array(10)
      };
    },

    components: {
      Cell
    }
  };
</script>

<!-- 
  Notes and questions
   
  * How do we have access to the DOM elements inside this component without explicitly add ids or classes?
  * Create a snippet for vscode that builds the component boilerplate in svelte.
-->
