<div class="the-board">
  <h1>Twinpics</h1>
  <div id="board">
    {{#each items as item}}
      {{#each item as value}}
        <Cell image="{{value}}" on:flip="validate(this)"></Cell>
      {{/each}}
    {{/each}}
  </div>
</div>

<style>
  h1 {
    text-align: center;
  }

  #board {
    display: block;
    margin: auto;
    padding: 1px;
    height: 500px;
    width: 497px;
  }
</style>

<script>
  import Cell from './Cell.html'

  export default {
    data() {
      return {
        items: [
          ["🦖", "✨", "🎮", "🎮"],
          ["🎏", "😱", "💰", "🥐"],
          ["❤️", "🦖", "✨", "🥐"],
          ["🎏", "❤️", "💰", "😱"]
        ],
        hit: null
      };
    },

    components: {
      Cell
    },

    methods: {
      validate(Cell) {
        const {flipped, image} = Cell.get();
        let {hit} = this.get();
        
        if (flipped) {
          // Kick start.
          if (hit === null) {
            this.set({
              hit: image
            });
          } else {
            if (hit === image) {
              console.log("MATCH!");
              // Apply a different style.
              // Nullify 'hit'
            } else {
              console.log("MISS...");
              // Flip the tiles.
              // Nullify 'hit'
            }
            this.set({
              hit: null
            });
          }
        }
      }
    }
  };
</script>

<!-- 
  Notes and questions
   
  * How do we have access to the DOM elements inside this component without explicitly add ids or classes?
  * Create a snippet for vscode that builds the component boilerplate in svelte.
-->
