<div class="the-board">
  <h1>Twinpics ✨</h1>
  <div id="board">
    {#each items as item}
      {#each item as value}
        <Cell image="{value}" on:flip="validate(this)"></Cell>
      {/each}
    {/each}
  </div>
  <div id="counter">
    <Counter></Counter>
  </div>
</div>

<style>
  h1 {
    text-align: center;
  }

  #board {
    display: block;
    margin: auto;
    padding: 1px;
    height: 500px;
    width: 497px;
  }

  #counter {
    margin: auto;
    text-align: center;
  }
</style>

<script>
  import Cell from './Cell.html';
  import Counter from './Counter.html';

  export default {
    data() {
      return {
        items: [
          ["🦖", "✨", "🎮", "🎮"],
          ["🎏", "😱", "💰", "🥐"],
          ["❤️", "🦖", "✨", "🥐"],
          ["🎏", "❤️", "💰", "😱"]
        ],
        compareCell: null,
        start: false
      };
    },

    components: {
      Cell,
      Counter
    },

    methods: {
      validate(currentCell) {
        const {flipped} = currentCell.get();
        let {compareCell} = this.get();
        
        this.manageStartEnd();
        
        if (flipped) {
          // Kick start.
          if (compareCell === null) {
            compareCell = currentCell;
            this.set({compareCell});
          } else {
            const match = compareCell.get().image === currentCell.get().image;

            if (match) {
              compareCell.set({twinFound: true});
              currentCell.set({twinFound: true});
            } else {
              setTimeout(() => {
                compareCell.set({flipped: false});
                currentCell.set({flipped: false});
              }, 250)
            }
            this.set({
              compareCell: null
            });
          }
        }
      },
      
      manageStartEnd() {
        let {start} = this.get();
        let cellsFlipped = document.getElementsByClassName('done');

        if (cellsFlipped.length === 0 && !start) {
          this.fire('start-game');
        }
      }
    }
  };
</script>
