<div class="cell {hidden} {done}" on:click="flip(event)">
  {#if flipped}
    {image}
  {/if}
</div>

<style>
  .cell {
    background-color: coral;
    border: 1px solid slategrey;
    display: inline-block;
    font-size: 3.5rem;
    line-height: 2.45;
    margin: 1px 1px;
    height: 120px;
    width: 120px;
    text-align: center;
    transition-duration: 2s;
    vertical-align: middle;
  }
  .done {
    background-color: rgb(117, 115, 114);
    transition-duration: 0.2s;
  }
</style>

<script>
  export default {
    data() {
      return {
        flipped: false,
        twinFound: false,
        hidden: 'hidden',
        done: ''
      }
    },
    
    onstate({changed, current, previous}) {
      let {twinFound} = changed;
      if (twinFound) {
        this.set({
          done: 'done'
        });
      }
    },

    methods: {
      flip(event) {
        let {flipped, twinFound} = this.get();

        if (twinFound) {
          event.preventDefault();
          return;
        }
        this.set({
          flipped: !flipped
        });
        this.fire('flip');
      }
    }
  }
</script>
