<div class="cell {{hidden}}"
  on:click="flip()">
  {{#if flipped}}
    {{image}}
  {{/if}}
</div>

<style>
  .cell {
    background-color: coral;
    border: 1px solid slategrey;
    display: inline-block;
    font-size: 3.5rem;
    line-height: 2.45;
    margin: 1px 1px;
    height: 120px;
    width: 120px;
    text-align: center;
    transition-duration: 2s;
    vertical-align: middle;
  }
</style>

<script>

  export default {
    data() {
      return {
        flipped: false,
        hidden: 'hidden',
        hit: []
      }
    },

    onupdate({changed, current, previous}) {
      
      // check for a pair in 'hit' or push it in there.
      // if a pair is in 'hit' and is equal to the current image, change color and make it "unflippable".
      // if a pair is in 'hit' and is not equal, remove all from 'hit'
    },

    methods: {
      flip() {
        let {flipped} = this.get();
        console.log(this);
        this.set({
          flipped: !flipped,
          hidden: flipped ? '' : 'hidden'
        });
      },

      validate() {
        const {image, hit} = this.get();
        
        
        if (hit.length === 0) {
          hit.push(image);
          return;
        }
        
        if (hit.includes(image)) {
          
        } else {

        }
        
        
      }
    }
  }
</script>
